<%- include("base_layout.ejs") %>
<main>
  <% if (!IsAuthorized) { %> Authorized: <%= IsAuthorized %> UserId: <%= userId
  %>
  <p>Sign in to view posts</p>
  <% } else { %> <% if(posts.length > 0) { %> <% posts.forEach(post => { %>
  <div class="post">
    <small><%= post.createdAt.toDateString() %></small>
    <h2>
      <a href="/user/profile/<%= post.author._id %>"><%= post.author.name %></a>
    </h2>
    <p><%= post.content %></p>

    <p><i>Go to user's profile to see comments.</i></p>
  </div>
  <% }) %> <% } else { %>
  <p>No posts to display</p>
  <% } %> <% } %>
</main>
<%- include("footer_partial.ejs") %>
