<%- include("base_layout.ejs") %>
<main>
<form action='/user/login' method='POST' novalidate>
    <% if (typeof error !== 'undefined' && error !== null)  {%>
    <div class='error'><%=error %></div>
    <% }%>
    <div>

        <label>Email:</label>
        <% if (typeof emailError !== 'undefined') {%>
        <div class='error'><%=emailError.msg %></div>
        <% }%>
        <input type='email' name='email'>
    </div>
    <div>

        <label>Password:</label>
        <% if (typeof passwordError !== 'undefined') {%>
        <div class='error'><%=passwordError.msg %></div>
        <% }%>
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
</main>
<%- include("footer_partial.ejs") %>